body {
    background-color: antiquewhite;
    color: #2E2E2E;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}


.montserrat-instructions {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.tile {
    height: 50px;
    width: 50px;
    border: 2px solid #CFC7BC;
    border-radius: 5px;
    margin: 2px;
    background-color: #FFFFFF;
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2px;
    width: 300px;
}

#grid-container {
    /* background-color: antiquewhite; */
    width: 300px;
}

#game-container {
    display: grid;
    justify-items: center;
}

input.tile-input {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 24px;
    border: none;
}

.tile-content {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}

.restart-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #6AAA64;
    color: white;
    border: none;
    border-radius: 5px;
}

.bottom-section {
    margin-top: 20px;
    text-align: center;
    width: 500px;
}